* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

body {
  background-color: #EFEFEF;
}

header {
  background-color: #232323;
  display: flex;
  min-height: 130px;
  justify-content: space-between;
}

/*left side of header*/
nav {
  color: #909090;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  margin-left: 20px;
  padding-top: 108px;
}

#hamburger {
  display:none;
}

.shares {
  color: #FFF;
}

/*left nav icons*/
.fa-share-alt, .fa-list-ul, .fa-user {
  font-size: 1rem;
  margin-right: .3rem;
}

.fa-list-ul, 
.fa-user {
  color: #d41502;
  margin-left: 50px;
}

/*right side of header*/
section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 20px;
}

.admin {
  display:flex;
  padding-left: 10px;
}

.admin-username {
  color: #d41502;
  font-size: 1.1rem;
}

.hear {
  margin-top: 30px;
  padding-left: 30px;
}

h1 {
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  font-size: 2.3rem;
}

/*right nav icons*/
.fa-user-circle {
  color: #909090;
  font-size: 1.3rem;
  margin-right: .3rem;
}

.fa-caret-down {
  color: #d41502;
  font-size: 1.3rem;
  margin-left: 5px;
}

.fa-headphones {
  color: #FFF;
  font-size: 2rem;
  margin-left: 5px;

}

/*mid-secton*/
h2 {
  font-size: 2.3rem;
  margin: 30px 0px 30px 20px;
}

/*grid*/
.boxes-container {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px;
}

/*All of the boxes*/
.box {
  background-color: #FFF;
  box-shadow: 3px 0 3px #bababa, -0.2em 0 0.2em #bababa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

/*top half of the box with photo*/
.photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 150px;
  justify-content: flex-end;
  justify-content: space-between;
  opacity: 0.9;
}

.photo1 {
  background:
  url('melanie-van-leeuwen-83775-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo1:hover {
  background:
  url('nick-karvounis-559285-unsplash (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.photo2 {
  background:
  url('hector-bermudez-291156-unsplash (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo2:hover {
  background:
  url('yvette-de-wit-118719-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo3 {
  background:
  url('vidar-nordli-mathisen-625757-unsplash (1).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo3:hover {
  background:
  url('joseph-pearson-411277-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo4 {
  background:
  url('vidar-nordli-mathisen-600399-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo4:hover {
  background:
  url('desi-mendoza-451-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo5 {
  background:
  url('vidar-nordli-mathisen-581896-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo5:hover {
  background:
  url('gbarkz-489384-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo6 {
  background:
  url('harry-swales-385863-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo6:hover {
  background:
  url('jodie-walton-502797-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo7 {
  background:
  url('jaap-straydog-525583-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo7:hover {
  background:
  url('vishnu-r-nair-639172-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo8 {
  background:
  url('adult-beard-blur-167446.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo8:hover {
  background:
  url('lifesimply-rocks-99718-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow {
  margin: 10px 0px 0px 15px;
  color: #FFF;
}

.views {
  margin: 10px 15px 0px 0px;
  color: #FFF;
}

i {
   font-size: 3.2rem;
}

i:hover {
  cursor: pointer;
}

h3 {
  font-size: 2rem;
}

/*bottom half of the box containing info*/
.box-info {
  margin: 15px 15px 0px;
}

h4 {
  font-size: 1.1rem;
}

.date {
  font-size: .8rem;
}

.link {
  background-color: #EFEFEF;
  font-size: .8rem;
  height: 40px;
  margin: 15px 15px 15px 0px;
  overflow-wrap: break-word;
  padding-left: 5px;
  padding-top: 5px;
}

.link:hover {
  cursor: pointer;
  color: #d41502;
}

.playlist, .attachments {
  font-size: .8rem;
}

.name-of-playlist {
  margin-bottom: 10px;
}

.attachments-number {
  color: #d41502;
}

/*media query for iphone5 screens*/
@media screen and (max-width: 360px) {

.boxes-container {
  margin: 10px;
}

h2 {
  text-align: center;
}

nav {
  display: flex;
  margin-left: 0px;
  padding: 0px;
}

.nav {
  display: none;
}

#hamburger {
  display: inline-block;
  font-size: 4em;
  margin: 0px 0 0 10px;
  padding-bottom: 30px;
}

.admin-username {
  display: none;
}

#arrow-down {
  display: none;
}

.title {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.hear {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.7rem;
  padding-left: 5px;
}

.fa-headphones {
  font-size: 2.7rem;
  margin-right: 10px;
}

}

/*media query for iphone6/7/8 screens*/
@media screen and (max-width: 650px) {

.boxes-container {
  margin: 10px;
}

h2 {
  text-align: center;
}

nav {
  display: flex;
  margin-left: 0px;
  padding: 0px;
}

.nav {
  display: none;
}

#hamburger {
  display: inline-block;
  font-size: 4em;
  margin: 0px 0 0 10px;
  padding-bottom: 30px;
}

.admin-username {
  display: none;
}

#arrow-down {
  display: none;
}

.title {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.hear {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.7rem;
  padding-left: 5px;
}

.fa-headphones {
  font-size: 2.7rem;
  margin-right: 10px;
}

}


/*media query for small screens*/
@media screen and (max-width: 730px) {

nav {
  display: flex;
  margin-left: 0px;
  padding: 0px;
}

.nav {
  display: none;
}

#hamburger {
  display: inline-block;
  font-size: 4em;
  margin: 35px 0 0 20px;
}

.title {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.hear {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

.fa-headphones {
  font-size: 3rem;
}
}

/*media query for large screens*/
@media screen and (min-width: 1500px) {

  .boxes-container {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 30px;
}
}
